@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?jvwhki');
  src:  url('../fonts/icomoon.eot?jvwhki#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?jvwhki') format('truetype'),
    url('../fonts/icomoon.woff?jvwhki') format('woff'),
    url('../fonts/icomoon.svg?jvwhki#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-headphones:before {
  content: "\f025";
}
.icon-camera:before {
  content: "\f030";
}
.icon-plane:before {
  content: "\f072";
}
.icon-github:before {
  content: "\f09b";
}
.icon-linkedin:before {
  content: "\f0e1";
}
.icon-youtube-play:before {
  content: "\f16a";
}
.icon-dribbble:before {
  content: "\f17d";
}
.icon-behance:before {
  content: "\f1b4";
}
.icon-codepen:before {
  content: "\f1cb";
}
.icon-gitlab:before {
  content: "\f296";
}
