/*

Author: Joao Garduño
URL Author: joaogarduno.github.io/profile
Version: 1.0
License:

*/
/* VARIABLE */
:root{
    /* COLORS */
    --color-background: #191022;
    --color-letter: #F9F2FF;
    --color-menuletter: #F3A371;
    --color-menuslide: #48485E;
    /* --color-menuslide: #48434D; */
    /* --color-menuslide: #3E3944; */
    /* FONTS SIZE */
    --text-titles: 2.5rem;
    --text-subtitles: 1.8rem;
    --text-paragraphs: 1.6rem;
    --text-buttons: 1.2rem;
    /* SECTIONS */
    /* ARTICLES */
}
*, ::after, ::before{
    box-sizing: border-box;
}
/* ===============================================
RESET CSS 
==================================================*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* ESTAS LINEAS SE LAS AGREGE A ESTE RESET DE CSS */
html{
    background-color: var(--color-background);
    color: var(--color-letter);
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: var(--text-paragraphs);
    /* font-size: 1.6rem; */
	line-height: 1.5; /* se cambio a 1.6 estaba a 1 */
    overflow-x: hidden;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, nav, section, div, main{
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ------------------------------------------------
    TITLES
--------------------------------------------------- */
h1, h2, h3, h4, h5, h6{
    font-family: 'Raleway', sans-serif;
    font-size: var(--text-titles);
    /* font-size: 2.5rem; */
    font-weight: bold;
    letter-spacing: .5px;
    text-transform: capitalize;
}
/* ------------------------------------------------
    SEMANTIC - HTML
--------------------------------------------------- */
header, nav, main, section, article, 
aside, figure, footer, div{
    width: 100%;
}
/* ------------------------------------------------
    TAGS - OTHERS
--------------------------------------------------- */
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
button{
    border: none;
    font-size: var(--text-buttons);
    /* font-size: 1.2rem; */
    font-weight: bold;
    letter-spacing: normal;
}
/* ------------------------------------------------
    CONTAINER
--------------------------------------------------- */
.container{
    margin: 0 auto;
    /* padding: 0 2rem; */
    padding: 0 1.5rem;
    width: 100%;
}
/* ------------------------------------------------
    MAIN - SECTION - ARTICLE
--------------------------------------------------- */
/* .mainContent{
    display: grid;
} */
/* .sectionContent{
    margin: 4.5rem 0;
} */
/* .articleContent{} */
/* ------------------------------------------------
    ROW & COLUMS - CONTAINERS
--------------------------------------------------- */
.row-container, .col-container{
    width: 100%;
}
.row-container{
    display: flex;
    flex-direction: column;
}
/* .col-container{} */
/*========================================================
    CONTENIDO - HEADER - LOGO - MENU
==========================================================*/
.headerContent{
    outline: 1px solid red;
    background-color: var(--color-background);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    position: fixed;
    top: 0;
}
.headerContent .container{
    outline: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* ---------- LOGO ---------- */
.header__logo{
    outline: 1px solid red;
    font-family: 'Yellowtail', cursive;
    font-size: 4rem;
    letter-spacing: .3rem;
    text-transform: capitalize;
    width: auto;
}
.header__logo--a{
    color: var(--color-menuletter);
    font-weight: bold;
}
/* ---------- BURGER ---------- */
.header__burger{
    outline: 1px solid red;
    display: block;
    cursor: pointer;
    width: auto;
    /* width: 5rem; */
}
.line{
    background-color: var(--color-menuletter);
    height: .3rem;
    margin: .5rem;
    transition: all 0.3s ease;
    /* width: 100%; */
    width: 4rem;
}
/* ---------- MENU ---------- */
.header__nav{
    background-color: var(--color-menuslide);
    height: 80vh;
    position: absolute;
    top: 6rem;
    right: 0;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    width: 70vw;
    z-index: 1000;
}
.header__nav--ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}
.nav__ul--li{
    font-size: 2.5rem; /*  */
    text-transform: capitalize;
    width: 100%;
}
.nav__ul--a{
    color: var(--color-menuletter);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1.5px;
    padding: 1.5rem 0;
    transition: all 0.3s ease-in-out;
    /* transition: 0.6s ease-in; */
    width: 100%;
}
.nav__ul--a:hover{
    background-color: var(--color-menuletter);
    color: var(--color-letter);
    font-weight: bold;
}
/* NAV ACTIVE */
.nav-active{
    transform: translateX(0%);
}
/* BURGER ANIMATION */
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}
/*========================================================
    HEADER - BANNER
==========================================================*/
/* .headerContent{
    margin-top: 4.5rem;
    padding: 2.5rem 0;
} */
/* .bannerContent{
    padding: 1.5rem 0;
} */
/* ---------- TITLE - COL 1 ---------- */
.banner__article--h6{
    font-size: 1.5rem;
}
.banner__article--h2{
    font-size: 4rem;
    padding: 1.0rem;
}
/* ---------- TITLE - COL 2 ---------- */
.banner__figure{
    background-color: rgba(243, 163, 113, 0.5);
    border-radius: 900% 300% 300% 900% / 800% 500% 600% 300%;
    margin: 0  auto;
    width: 90%;
}
.banner__figure--img{
    background-color: rgba(243, 163, 113, 1.0);
    border-radius: 300% 900% 900% 300% / 300% 600% 500% 800%;
}
/* ---------- COL 3 ---------- */
.banner__article--textInfo, .about__article{
    border-left: 1px solid var(--color-menuletter);
    padding: 2.0rem;
}
/* ---------- TXT ---------- */
.banner__article--p{
    margin-bottom: 3.0rem;
}
/* ---------- LINKS - PORTFOLIO ---------- */
.banner__article--links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.banner__article--links a img{
    background-color: var(--color-letter);
    border-radius: 50%;
    padding: .5rem;
}
.banner__article--links a img:hover{
    background-color: var(--color-menuletter);
}
/*========================================================
    ABOUT
==========================================================*/
.about__article--h3{
    font-size: 4.0rem;
}
.about__hobby--span{
    font-size: 3rem;
    margin-left: 2.5rem;
}
.about__article--button{
    background-color: var(--color-menuletter);
    color: var(--color-letter);
    cursor: pointer;
    font-size: 1.5rem;
    height: 4.0rem;
    margin-top: 1.5rem;
    transition: all 0.5s ease-out;
    width: 50%;
}
.about__article--button:hover{
    background-color: var(--color-letter);
    color: var(--color-menuletter);
}
/*========================================================
    WORK - PORTFOLIO
==========================================================*/
.workContent{
    background-color: var(--color-menuletter);
    padding: 4.5rem 0;
}
/* ROW1 */
.row__work--title{
    padding: 1.5rem 0;
}
.work__article--h4{
    font-size: 4rem;
    padding: 1rem;
    margin-bottom: 1.0rem;
}
.work__article--bloc{
    border-left: 1px solid var(--color-letter);
    padding: 1.5rem;
}
/* ROW2 */
.row__work--portfolio{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}
.col__work{
    margin-bottom: 3rem;
    /* flex-shrink: 1; */
}
/* FIGURE */
.work__box1--figure{
    background-color: var(--color-letter);
    border-radius: 100% 100% 100% 500% / 800% 100% 100% 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: .5rem;
    width: 80%;
    margin: 0 auto;
}
/* .work__box1--figure img{} */
/* ARTICLE */
.work__box1--article{
    padding-left: 1.0rem;
    margin-top: .5rem;
}
.work__box1--article h2{
    font-weight: bold;
    font-size: 2.0rem;
    padding: .5rem;
}
.work__box1--article p{
    font-size: 1.2rem;
}
/*========================================================
    CONTACT - INFO CONTACT
==========================================================*/
.contactContent{
    /* outline: 1px solid red; */
    padding: 4.5rem 0;
    /* height: 100vh; */
}
/* --------------- FIGURE - COL 1 --------------- */
.contact__figure{
    background-color: rgba(243, 163, 113, 1.0);
    border-radius: 100% 100% 100% 100% / 100% 100% 15% 100%;
    margin: 0 auto;
    width: 60%;
}
.contact__figure--img{
    border-radius: 100%;
}
/* ARTICLE */
.contact__article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact__article--h6{
    font-size: 1.5rem;
}
.contact__article--ul{
    padding-top: 2rem;
}
.contact__article--ul li{
    display: inline-block;
    margin-left: 1.5rem;
}
.contact__article--ul li a{
    color: var(--color-letter);
}
.contact__article--ul li a span{
    font-size: 2.5rem;
}
/*========================================================
    CONTENIDO - FOOTER - RIGHTS AND DESIGN
==========================================================*/
.footerContent{
    padding-bottom: 1rem;
}
.footer__info{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.footer__info p{
    font-size: 1.2rem;
}
.footer__copyright--p a{
    color: var(--color-menuletter);
}
/*========================================================
    MEDIAQUERIES
==========================================================*/
/*----------------------------------------
    480PX
------------------------------------------*/
@media screen and (min-width: 480px){
    /* ---------- HEADER ---------- */
    /* LOGO */
    .header__logo{
        font-size: 5rem;
    }
    /* MENU */
    .header__nav{
        top: 7.5rem;
        width: 50vw;
    }
    .nav__ul--li{
        font-size: 3rem;
    }
    /* ---------- HEADER - BANNER ---------- */
    .banner__article--h6{
        font-size: 2rem;
    }
    /* .banner__article--h2{
        font-size: 4.5rem;
    } */
    /* IMG */
    .banner__figure{
        width: 65%;
    }
    /* ---------- ABOUT ---------- */
    .about__article--button{
        height: 5rem;
        width: 40%;
    }
    /* ---------- WORK ---------- */
    .work__box1--figure{
        width: 60%;
    }
    /* ---------- CONTACT ---------- */
    .contact__figure{
        width: 50%;
    }
}
/*----------------------------------------
    576PX
------------------------------------------*/
@media screen and (min-width: 576px){
    /* ---------- HEADER ---------- */
    .header__nav{
        width: 60vw;
    }
    /* ---------- HEADER - BANNER ---------- */
    .banner__figure{
        width: 60%;
    }
    /* ---------- CONTACT ---------- */
    .contact__figure{
        width: 40%;
    }
    /* ---------- FOOTER ---------- */
    .footer__info{
        flex-direction: row;
        justify-content: space-around;
    }
}
/*----------------------------------------
    768PX
------------------------------------------*/
@media screen and (min-width: 768px){
    /* ---------- HEADER ---------- */
    /* BURGER */
    .header__burger{
        display: none;
    }
    /* MENU */
    .header__nav{
        background-color: var(--color-background);
        position: static;
        height: auto;
        transform: translateX(0%);
        width: 85vw;
    }
    .header__nav--ul{
        flex-direction: row;
        justify-content: space-around;
    }
    .nav__ul--li{
        font-size: 2.4rem;
    }
    .nav__ul--a{
        font-weight: unset;
        padding: .2rem;
    }
    .nav__ul--a:hover{
        border-radius: 1rem;
    }
    /* ---------- HEADER - BANNER ---------- */
    .headerContent{
        /* padding-top: 4.5rem; */
        /* margin-top: 6.5rem;  */
    }
    .row__header{
        display: flex;
        /* flex-flow: row wrap; */
        flex-direction: row;
        align-items: center;
        /* justify-content: baseline; */
        justify-content: space-around;
    }
    /* IMG */
    .banner__figure{
        width: 100%;
    }
    /* ---------- ABOUT ---------- */
    .col__about--info{
        margin: 0 auto;
        width: 65%;
    }
    /* ---------- WORK ---------- */
    .row__work--portfolio{
        flex-flow: row wrap;
        align-items: baseline;
        justify-content: space-around;
    }
    .col__work{
        margin-bottom: 0;
        /* flex-wrap: wrap; */
        width: 45.5%;
    }
    .work__box1--article{
        margin: 0;
        padding: 0;
    }
    /* ---------- CONTACT ---------- */
    .contact__figure{
        width: 35%;
    }
    /* ---------- FOOTER ---------- */
}
/*----------------------------------------
    992PX
------------------------------------------*/
@media screen and (min-width: 992px){
    /* ---------- HEADER ---------- */
    .header__nav{
        width: 75vw;
    }
    /* ---------- HEADER - BANNER ---------- */
    /* .headerContent{
        margin-top: 8rem;
    } */
    /* ---------- CONTACT ---------- */
    .contact__figure{
        width: 30%;
    }
}
/*----------------------------------------
    1024PX
------------------------------------------*/
@media screen and (min-width: 1024px){
    .container{
        width: 95%;
    }
    /* ---------- NAV ---------- */
    .header__nav{
        width: 65vw;
    }
    /* ---------- HEADER - BANNER ---------- */
    .banner__article--h2{
        font-size: 5.0rem;
    }
    .banner__article--p{
        font-size: 2.0rem;
    }
    .banner__article--button{
        font-size: 1.5rem;
    }
    /* IMG */
    .banner__figure{
        width: 90%;
    }
    /* ---------- WORK ---------- */
    .col__work{
        width: 32.5%;
    }
    /* ---------- CONTACT ---------- */
    .contact__figure{
        width: 25%;
    }
}
/*----------------------------------------
    1200PX
------------------------------------------*/
@media screen and (min-width: 1200px){
    .container{
        width: 90%;
    }
    /* MENU */
    .header__nav{
        width: 55vw;
    }
    /* ---------- HEADER - BANNER ---------- */
    /* IMG */
    .banner__figure{
        width: 85%;
    }
    /* ---------- CONTACT ---------- */
    .contact__figure{
        width: 20%;
    }
}

/* NOTES */
/*
    COLORS PROJECT - PORTFOLIO
    -#191022
    -#F9F2FF
    -#F3A371
    -#48485E

    OTHERS
    -#464655
    -#274569

*/
/*  */
/*
CATEGORIES y estilos ordenados segun su proposito:
-position
-box model
-tipografia
-visuales
-otros
*/