/*

Author: Joao Garduño
URL Author:
Version: 1.0
License:

*/
*, ::after, ::before{
    box-sizing: border-box;
}
/* ===============================================
RESET CSS 
==================================================*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	/* font-size: 100%; */
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section{
	display: block;
}
/* ESTAS LINEAS SE LAS AGREGE A ESTE RESET DE CSS */
html{
    background-color: #191022;
    color: #F9F2FF;
    /* line-height: 1.6; */ /* Se reemplaza por el del body */
    scroll-behavior: smooth;
    font-size: 62.5%;
    /* font-size: 16px; */
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
	line-height: 1.5; /* se cambio a 1.6 estaba a 1 */
    overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ------------------------------------------------
    CONTAINER
--------------------------------------------------- */
.container{
    /* outline: 1px solid red; */
    margin: 0 auto;
    padding: 0 1.5rem;
    width: 100%;
}
/* ------------------------------------------------
    TITLES
--------------------------------------------------- */
h1, h2, h3, h4, h5, h6{
    font-family: 'Raleway', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: .5px;
    text-transform: capitalize;
    letter-spacing: 0.3rem;
}
/* ------------------------------------------------
    TAGS -  HTML5
--------------------------------------------------- */
header, nav, main, section, article, aside, footer, figure{
    width: 100%;
}
/* ------------------------------------------------
    TAGS - OTHERS
--------------------------------------------------- */
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
button{
    border: none;
    /* font-size: 12px; */
    font-weight: bold;
    letter-spacing: 1.5px;
}
/* ------------------------------------------------
    SECTION - MAIN
--------------------------------------------------- */
.sectionContent{
    /* outline: 1px solid red; */
    margin: 2.5rem 0;
}
/* ------------------------------------------------
    ARTICLE - TAG
--------------------------------------------------- */
.articleContent{
    /* outline: 1px solid red; */
}
/* ------------------------------------------------
    ROW & COLUMS - CONTAINERS
--------------------------------------------------- */
.row-container{
    /* outline: 1px solid red; */
    width: 100%;
    margin: 2.0rem 0;
}
.col-container{
    /* outline: 1px solid red; */
    width: 100%;
    padding: 1.0rem;
    /* margin: 10px 0; */
}
/*========================================================
    CONTENIDO - NAV
==========================================================*/
/* NAV - TAG */
.navContent{
    position: relative;
    background-color: #191022;
}
.navContent .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* LOGO */
.nav__logo{
    font-size: 4.0rem;
    font-family: 'Yellowtail', cursive;
    letter-spacing: 1.5px;
    text-transform: capitalize;
}
.nav__logo--a{
    color: #F3A371;
}
/* BURGER */
.nav__burger{
    display: block;
    cursor: pointer;
}
.nav__burger .line{
    background-color: #F3A371;
    height: 0.3rem;
    margin: 0.5rem;
    transition: all 0.3s ease;
    width: 4.0rem;
}
/* MENU */
.nav__menu{
    outline: 1px solid red;
    background-color: #191022;
    height: 85vh;
    position: absolute;
    top: 6.0rem;
    right: 0;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    width: 70vw;
}
.nav__menu--ul{
    outline: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    /* height: 85vh; */
    width: 100%;
}
.nav__menu--li{
    /* border-bottom: 1px solid #F3A371; */
    font-size: 2.5rem;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.nav__menu--a{
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    letter-spacing: 1.5px;
    color: #F3A371;
}
.nav__menu--a:hover{
    background-color: #F3A371;
    color: #274569;
    transition: all 0.3s ease-in-out;
}
/* ACTIVE MENU - ANIMATION */
.nav-active{
    transform: translateX(0%);
}
/* BURGER ANIMATION */
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}
/*========================================================
    CONTENIDO - HEADER -> BANNER
==========================================================*/
.headerContent{
    margin: 25px 0;
}
/* ARTICLE */
.banner__article{
    /* outline: 1px solid red; */
}
.banner__article--h6{
    font-size: 1.5rem;
    /* font-weight: normal; */
}
.banner__article--h2{
    font-size: 3.0rem;
    padding: 1.0rem;
}
.banner__article--p{
    margin-bottom: 3.0rem;
    /* padding: 1.0rem; */
}
.banner__article--button{
    background-color: #F3A371;
    border-radius: 0.5rem;
    color: #191022;
    height: 35px;
    margin-bottom: 2.0rem;
    /* outline: none; */
    text-transform: capitalize;
    width: 50%;
}
/* IMG */
.banner__figure{
    background-color: rgba(243, 163, 113, 0.5);
    border-radius: 900% 300% 300% 900% / 800% 500% 600% 300%;
    width: 90%;
    margin: 0  auto;
}
.banner__figure--img{
    background-color: rgba(243, 163, 113, 1.0);
    border-radius: 300% 900% 900% 300% / 300% 600% 500% 800%;
}

/*========================================================
    MAIN - mainContent - SECTION - aboutContent
==========================================================*/
/* .aboutContent{} */
.about__article{
    /* border-left: 1px solid #F3A371; */
}
.about__article--h3{
    padding: 10px;
    font-size: 4.0rem;
    /* text-transform: capitalize; */
}
.about__article--line{
    border-left: 1px solid #F3A371;
}
.about__article--p{
    padding: 10px;
}
.about__article--img{
    /* margin: 1.0rem 0 0 2.0rem; */
    margin-top: 2.0rem;
    margin-left: 1.5rem;
    border-radius: 30%;
    padding: 1px;
    /* color: #f0f0f0; */
    width: 3.0rem;
    height: 3.0rem;
    background-color: #F3A371;
}
/*========================================================
    CONTENIDO - WORK - PORTFOLIO
==========================================================*/
.workContent{
    /* outline: 1px solid red; */
}
/* ARTICLE */
.colArticle{}
.work__colArticle--article{}
.work__article--h4{
    padding: 10px;
    font-size: 4.0rem;
}
.work__article--bloc{
    border-left: 1px solid #F3A371;
}
.work__articleBloc--p{
    /* margin: 1.5rem 0; */
    /* margin: 1.5rem 0; */
}
/* CONTENT - PORTFOLIO */
.work__box1{
    background-color: #F3A371;
    /* border-radius: 100% 100% 100% 100% / 100% 100% 100% 100%; */
}
/*========================================================
    CONTENIDO - CONTACT - INFO CONTACT
==========================================================*/
.contactContent{}
.contact__profile{
    /* outline: 1px solid red; */
    margin: 0 auto;
    width: 90%;
    /* width: 80%; */
    border-radius: 100% 100% 100% 100% / 100% 100% 15% 100%;
    background-color: rgba(243, 163, 113, 0.7);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.contact__profile--img{
    /* outline: 1px solid red; */
    margin: 10px;
    /* margin: 0 auto; */
    border-radius: 90%;
    /* width: 90%; */
    width: 80%;
}
/* ARTICLE */
.contact__article{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* margin: 0 auto; */
}
.contact__article--h3{
}
.contact__article--h6{
    font-size: 1.2rem;
}
.contact__article--ul{
    width: 30%;
    /* outline: 1px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.contact__article--ul li{}
.contact__article--ul li a{
    color: #F9F2FF;
}
.contact__article--ul li a span{
    font-size: 2.5rem;
}
/*========================================================
    CONTENIDO - FOOTER - RIGHTS AND DESIGN
==========================================================*/
.footerContent{
    /* position: relative;
    bottom: 0; */
}
.footerRow{
    /* outline: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footerCol{
    width: 95.3%;
    /* width: 33.3%; */
}
/* COL */
.footer__author, .footer__copyright{
    font-size: 1.0rem;
}
.footer__socialIcon{}
/* BOX - COL */
.footer__author--p{}
.footer__copyright--p{}
.footer__socialIcon--ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}
.footer__socialIcon--ul li a span{
    color: #F9F2FF;
}

/*========================================================
    MEDIAQUERIES
==========================================================*/
/* ----------------- 320PX ------------------------- */
/* @media screen and (min-width: 320px){} */
/* ------------------ 480PX ------------------------ */
@media screen and (min-width: 480px){
    .container{
        width: 90%;
    }
    /*--------NAV-------------------*/
    /* LOGO */
    .navContent .nav__logo{
        font-size: 5.0rem;
    }
    /*-------------BANNER--------------*/
    .banner__article--h6{
        font-size: 2.0rem;
    }
    .banner__article--h2{
        font-size: 4.0rem;
    }
    /* IMG */
    .banner__figure{
        width: 70%;
    }
}
/* ------------------ 769PX ------------------------ */
@media screen and (min-width: 768px){
    /* NAV */
    .nav__burger{
        display: none;
    }
    .nav__menu--ul{
        flex-direction: row;
        position: static;
        height: auto;
        /* height: 0; */
        transform: translateX(0%);
        width: 70vw;
    }
    /* .nav__menu--li{
        
    } */
    .nav__menu--li a{
        border-bottom: none;
    }
}
/* ------------------- 1024PX ----------------------- */
@media screen and (min-width: 1024px){}
/* ------------------------------------------ */
@media screen and (min-width: 1200px){}