/*

Author: Joao Garduño
URL Author: joaogarduno.github.io/profile
Version: 1.0
License:

*/
/*
position
box model
tipografia
*/
/* VARIABLE */
:root{
    /* COLOR */
    --color-background: #191022;
    --color-letter: #F9F2FF;
    --color-menuletter: #F3A371;
    --color-menuback: #48485e;
}
*, ::after, ::before{
    box-sizing: border-box;
}
/* ===============================================
RESET CSS 
==================================================*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* ESTAS LINEAS SE LAS AGREGE A ESTE RESET DE CSS */
html{
    background-color: #191022;
    /* background-color: rgb(25, 16, 34); */
    color: #F9F2FF;
    font-size: 62.5%;
    /* line-height: 1.6; */ /* Se reemplaza por el del body */
    scroll-behavior: smooth;
    /* font-size: 16px; */
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
	line-height: 1.5; /* se cambio a 1.6 estaba a 1 */
    overflow-x: hidden;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section{
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ------------------------------------------------
    CONTAINER
--------------------------------------------------- */
.container{
    /* outline: 1px solid red; */
    margin: 0 auto;
    padding: 0 1.5rem;
    width: 100%;
}
/* ------------------------------------------------
    TITLES
--------------------------------------------------- */
h1, h2, h3, h4, h5, h6{
    font-family: 'Raleway', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: .5px;
    text-transform: capitalize;
}
/* ------------------------------------------------
    TAGS -  HTML5
--------------------------------------------------- */
header, nav, main, section, article, aside, figure, footer{
    width: 100%;
}
/* ------------------------------------------------
    TAGS - OTHERS
--------------------------------------------------- */
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
button{
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: normal
}
/* ------------------------------------------------
    SECTION - MAIN
--------------------------------------------------- */
.sectionContent{
    margin: 4.5rem 0;
}
/* ------------------------------------------------
    ARTICLE - TAG
--------------------------------------------------- */
/* .articleContent{} */
/* ------------------------------------------------
    ROW & COLUMS - CONTAINERS
--------------------------------------------------- */
.row-container, .col-container{
    width: 100%;
}
.row-container{
    margin: 2rem 0;
}
.col-container{
    padding: 1.5rem 1.0rem;
}
/*========================================================
    CONTENIDO - NAV
==========================================================*/
/* NAV - TAG */
.navContent{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    /* background-color: #464655; */
    background-color: #191022;
    /* position: relative; */
    position: fixed;
    top: 0;
    left: 0;
}
.navContent .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* LOGO */
.nav__logo{
    font-size: 4.0rem;
    font-family: 'Yellowtail', cursive;
    letter-spacing: 1.5px;
    text-transform: capitalize;
}
.nav__logo--a{
    color: #F3A371;
    font-weight: bolder;
}
/* BURGER */
.nav__burger{
    display: block;
    cursor: pointer;
}
.line{
    background-color: #F3A371;
    height: 0.3rem;
    margin: 0.5rem;
    transition: all 0.3s ease;
    width: 4.0rem;
}
/* MENU */
.nav__menu{
    background-color: #48485e;
    /* background-color: #464655; */
    height: 85vh;
    position: absolute;
    top: 6.0rem;
    right: 0;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    width: 70vw;
}
.nav__menu--ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;    
    height: 100%;
    /* height: 85vh; */
    width: 100%;
}
.nav__menu--li{
    /* border-bottom: 1px solid #F3A371; */
    font-size: 2.5rem;
    text-transform: capitalize;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 100%;
}
.nav__menu--a{
    color: #F3A371;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 10vh; */
    /* height: 10%; */
    letter-spacing: 1.5px;
    padding: 1.5rem 0;
    transition: 0.6s ease-in;
    width: 100%;
}
.nav__menu--a:hover{
    background-color: #F3A371;
    color: #191022;
    /* color: #274569; */
    /* color: #464655; */
    transition: all 0.3s ease-in-out;
    font-weight: bold;
}
/* .nav__menu--a:focus{
    background-color: #F3A371;
    color: #464655;
} */
/* .nav__menu--a:active{
    background-color: #F3A371;
    color: #464655;
} */
/* ACTIVE MENU - ANIMATION */
.nav-active{
    transform: translateX(0%);
}
/* BURGER ANIMATION */
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}
/*========================================================
    HEADER - BANNER
==========================================================*/
.headerContent{
    /* outline: 1px solid red; */
    margin-top: 4.5rem;
}
/*---------- COL 1 -------------*/
/* .banner__article--title{} */
.banner__article--h6{
    font-size: 1.5rem;
    /* font-weight: normal; */
}
.banner__article--h2{
    font-size: 4.0rem;
    padding: 1.0rem;
}
/*------------- COL 2 ----------------*/
.banner__figure{
    background-color: rgba(243, 163, 113, 0.5);
    border-radius: 900% 300% 300% 900% / 800% 500% 600% 300%;
    margin: 0  auto;
    width: 90%;
}
.banner__figure--img{
    background-color: rgba(243, 163, 113, 1.0);
    border-radius: 300% 900% 900% 300% / 300% 600% 500% 800%;
}
/*------------ COL 3 ---------------------*/
.banner__article--textoInfo, .about__article{
    border-left: 1px solid #F3A371;
    padding: 2.0rem;
    /* padding-left: 1.0rem */
}
/* TXT */
.banner__article--p{
    margin-bottom: 3.0rem;
}
/* IMG */
/* .banner__article--links{} */
.banner__article--links a{
    /* color: #274569; */
    margin-left: 1rem;
    /* cursor: pointer; */
}
.banner__article--links a img{
    /* border-radius: 6rem; */
    border-radius: 100%;
    background-color: #F9F2FF;
    padding: 0.5rem;
    transition: all .4s ease;
    width: 18%;
}
.banner__article--links a img:hover{
    background-color: #F3A371;
    /* color: #274569; */
}
/*========================================================
    ABOUT
==========================================================*/
.about__article--h3{
    font-size: 4.0rem;
}
.about__hobby--span{
    font-size: 3rem;
    margin-left: 2.5rem;
}
.about__article--button{
    background-color: #F3A371;
    color: #F9F2FF;
    cursor: pointer;
    font-size: 1.5rem;
    height: 4.0rem;
    margin-top: 1.5rem;
    transition: all 0.5s ease-out;
    width: 50%;
}
.about__article--button:hover{
    background-color: #F9F2FF;
    color: #F3A371;
}
/*========================================================
    WORK - PORTFOLIO
==========================================================*/
.workContent{
    background-color: #F3A371;
    padding: 1rem 0;
}
/* ROW1 */
/* .rowArticle__work{} */
/* .colArticle{} */
/* .work__colArticle--article{} */
.work__article--h4{
    font-size: 4rem;
    padding: 1rem;
    margin-bottom: 1.0rem;
}
.work__article--bloc{
    border-left: 1px solid #F9F2FF;
    padding: 1.5rem;
}
/* .work__articleBloc--p{} */
/* ROW2 */
.row__work{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-block: 1.0rem; */
}
.col__work{
    /* outline: 1px solid red; */
    margin-bottom: 3rem;
    flex-shrink: 1;
    /* flex-shrink: 0.5; */
    /* transition: all 0.5s ease-in; */
    /* width: 90%; */
}
/* .colWorks:hover{
    background-color: rgba(25, 16, 34, 0.8);
    cursor: pointer;
} */
/* .work__box1{} */
/* FIGURE */
.work__box1--figure{
    /* outline: 1px solid red; */
    background-color: #F9F2FF;
    border-radius: 100% 100% 100% 500% / 800% 100% 100% 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: .5rem;
    width: 80%;
    margin: 0 auto;
}
/* .work__box1--figure img{} */
/* ARTICLE */
.work__box1--article{
    /* border-left: 1px solid #F9F2FF; */
    padding-left: 1.0rem;
    margin-top: .5rem;
    /* padding: 1.0rem; */
    /* margin: 1.0rem 0 0 0; */
}
.work__box1--article h2{
    font-weight: bold;
    font-size: 2.0rem;
    padding: .5rem;
    /* font-size: 2.5rem; */
}
.work__box1--article p{
    font-size: 1.2rem;
}
/*========================================================
    CONTACT - INFO CONTACT
==========================================================*/
/* .contactContent{} */
/* FIGURE */
.contact__figure{
    background-color: rgba(243, 163, 113, 1.0);
    border-radius: 100% 100% 100% 100% / 100% 100% 15% 100%;
    margin: 0 auto;
    width: 60%;
}
.contact__figure--img{
    border-radius: 100%;
}
/* ARTICLE */
.contact__article{
    /* padding-top: 1.0rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact__article--h6{
    font-size: 1.5rem;
}
.contact__article--ul{
    padding-top: 2rem;
}
.contact__article--ul li{
    display: inline-block;
    margin-left: 1.5rem;
}
.contact__article--ul li a{
    color: #F9F2FF;
}
.contact__article--ul li a span{
    font-size: 2.5rem;
}
/*========================================================
    CONTENIDO - FOOTER - RIGHTS AND DESIGN
==========================================================*/
.footerContent{
    /* position: relative;
    bottom: 0;
    left: 0; */
    /* padding: 2.0rem 0; */
    padding-bottom: 2rem;
}
.footer__info{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /* margin: 0 auto; */
    /* text-align: center; */
}
.footer__info p{
    font-size: 1.2rem;
    /* margin: 0 auto; */
}
.footer__copyright--p a{
    color: #F3A371;
}
/*========================================================
    MEDIAQUERIES
==========================================================*/
/*----------------------------------------
    480PX
------------------------------------------*/
@media screen and (min-width: 480px){
    /*--------NAV-------------------*/
    /* LOGO */
    .nav__logo{
        font-size: 5.0rem;
    }
    /* MENU */
    .nav__menu--li{
        font-size: 3rem;
    }
    /*--------BANNER------------------*/
    .headerContent{
        margin: 5.5rem 0;
    }
    .banner__article--h6{
        font-size: 2.0rem;
    }
    .banner__article--h2{
        font-size: 4.0rem;
    }
    /* IMG */
    .banner__figure{
        width: 70%;
    }
    .banner__article--links a img{
        width: 15%;
    }
    /*--------ABOUT------------------*/
    .about__article--button{
        height: 5rem;
        width: 40%;
    }
    /*--------WORK-------------------*/
    .work__box1--figure{
        width: 60%;
    }
    /*--------CONTACT-------------------*/
    .contact__figure{
        width: 50%;
    }
}
/*----------------------------------------
    576PX
------------------------------------------*/
@media screen and (min-width: 576px){
    /*--------NAV-------------------*/
    .nav__menu{
        width: 60vw;
    }
    /*--------HEADER BANNER---------*/
    .banner__figure{
        width: 70%;
    }
    .banner__article--links a img{
        width: 15%;
    }
    /*--------CONTACT-------------------*/
    .contact__figure{
        width: 40%;
    }
    /*------------FOOTER-------------*/
    .footer__info{
        flex-direction: row;
        justify-content: space-around;
    }
}
/*----------------------------------------
    768PX
------------------------------------------*/
@media screen and (min-width: 768px){
    /*--------NAV-------------------*/
    /* LOGO */
    /* .nav__logo{} */
    .nav__burger{
        display: none;
    }
    .nav__menu{
        background-color: #191022;
        position: static;
        height: auto;
        transform: translateX(0%);
        width: 80vw;
    }
    .nav__menu--ul{
        flex-direction: row;
        justify-content: space-around;
    }
    .nav__menu--li{
        font-size: 2.4rem;
    }
    .nav__menu--a{
        font-weight: unset;
        padding: .2rem;
    }
    .nav__menu--a:hover{
        border-radius: 1rem;
    }
    /*-----------HEADER - BANNER------------*/
    .row__header{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /* IMG */
    .banner__figure{
        width: 100%;
    }
    /*---------- ABOUT ------------*/
    .col__about--info{
        margin: 0 auto;
        width: 65%;
    }
    /*-----------WORK------------*/
    .row__work{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .col__work{
        flex-wrap: wrap;
        width: 44.9%;
    }
    /*-----------CONTACT------------*/
    .contact__figure{
        width: 40%;
    }
    /*-----------FOOTER------------*/
    
}
/*----------------------------------------
    992PX
------------------------------------------*/
@media screen and (min-width: 992px){
    /*--------NAV-------------------*/
    .nav__menu{
        width: 75vw;
    }
    /*-----------HEADER - BANNER------------*/
    .headerContent{
        margin-top: 8rem;
    }
    /*-----------CONTACT------------*/
    .contact__figure{
        width: 30%;
    }
}
/*----------------------------------------
    1024PX
------------------------------------------*/
@media screen and (min-width: 1024px){
    .container{
        width: 95%;
    }
    /*--------NAV-------------------*/
    .nav__menu{
        width: 65vw;
    }
    /*-----------BANNER------------*/
    .banner__article--h2{
        font-size: 5.0rem;
    }
    .banner__article--p{
        font-size: 2.0rem;
    }
    .banner__article--button{
        font-size: 1.5rem;
    }
    /* IMG */
    .banner__figure{
        width: 90%;
    }
    /*-----------WORK------------*/
    .col__work{
        width: 32.5%;
    }
}
/*----------------------------------------
    1200PX
------------------------------------------*/
@media screen and (min-width: 1200px){
    .container{
        width: 90%;
    }
    /* MENU */
    .nav__menu{
        width: 55vw;
    }
    /*-----------BANNER------------*/
    /* IMG */
    .banner__figure{
        width: 85%;
    }
}